* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

@media screen and (max-width:576px) {
    .nav_container {
        flex-direction: column;
        padding: 0;
        box-shadow: none;


    }

    .nav_bar>ul {
        flex-direction: column;
        /* background-color: aqua; */
        margin: 0 auto;
    }

    .logo_section {
        /* background-color: aqua; */
        justify-content: center;
        padding: 50px;
    }


    .banner {
        margin-top: 50px;
        flex-direction: column-reverse;
        padding: 0;
    }

    .banner_right {
        padding-left: 0px;
    }

    .banner_right>img {
        width: 75%;
        left: 70px;
    }

    .banner_left {
        padding: 30px 0;
        text-align: center;
        margin-top: 50px;
        /* margin-bottom: 50px; */

    }

    .banner_left>ul {
        /* background-color: aqua; */
        /* text-align: justify; */
        width: 45%;
        margin: 20px auto;
        text-align: left;
    }




    /* ________________________About section________________________ */




    .about_section {
        padding: 0;
        flex-direction: column;
    }

    .about_section_right {
        text-align: center;
        padding: 50px 60px;
    }

    .about_section_right>h2 {
        font-size: 24px;
    }


    .about_section_left>img {
        width: 100%;
        height: 80%;

    }














    .online_games_sec {
        flex-direction: column;
        padding: 0;

        align-items: center;

    }

    .online_games_sec>section {

        width: 300px;
        /* background-color: #8758F1; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .online_games_sec>section>img {

        width: 300px;
        height: 300px;
        /* background-color: #8758F1; */
        margin-top: 30px;
    }





    /* _________________________Description section____________________________ */



    .description_sec {
        margin: 0;
        padding: 0;
    }


    .upper_sec {
        flex-direction: column;
        /* background-color: aquamarine; */
    }


    .upper_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 70px;
        margin-top: 50px;
        padding: 0 40px;
        /* background-color: aqua; */
    }


    .upper_left>p {
        /* margin: 30px 0; */
        text-align: center;
        font-size: 15px;
    }


    .upper_left>h2 {
        text-align: center;
    }

    .rectangle_sixtysix {
        right: 250px;
        top: 200px;
        height: 150px;
        width: 150px;
    }

    .rectangle_fiftyfive {
        width: 300px;
        height: 300px;
    }

    .upper_right {
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        margin: 0 70px;
    }






    .bottom_sec {
        flex-direction: column-reverse;
        /* background-color: blue; */
        margin-bottom: 200px;
        margin-top: 150px;
    }

    .bottom_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 70px;
        margin-top: 0px;
        padding: 0 40px;
        /* background-color: aqua; */
    }

    .bottom_right>p {
        /* margin: 30px 0; */
        text-align: center;
        font-size: 15px;
    }

    .bottom_right>h2 {
        text-align: center;
    }


    .rectangle_sixtyseven {
        width: 300px;
        height: 300px;
    }

    .bottom_left {
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        margin: 0 70px;
        position: relative;
    }

    .rectangle_seventy {
        left: 250px;
        top: 200px;
        height: 150px;
        width: 150px;
    }

    /* _________________Genre Sec________________ */

    .genre_section {
        padding: 40px 0px;
        font-size: 10px;
    }


















    /* __________________footer____________________ */
    .footer_container>.logo_section {
        margin: 0px;
    }

    .important_links>ul {

        gap: 15px;
        /* background-color: rgb(12, 136, 244); */
        padding: 0px 125px;
        justify-content: center;
    }

    .social_sites>ul {
        /* background-color: rgb(6, 26, 26); */
        padding: 0 150px;
        justify-content: center;
    }

    .web_links>ul {
        /* background-color: rgb(18, 40, 40); */
        padding: 0 120px;
        justify-content: center;
        row-gap: 13px;
        column-gap: 15px;
    }

    .footer_container>p {
        /* background-color: rgb(4, 14, 14); */
        margin-bottom: 30px;
        padding: 0 150px;
        text-align: center;
    }


}