* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

p {
    color: #534C64;
}



.nav_container {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    min-height: 80px;
    /* border: 1px solid black; */
    padding: 0 220px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);

}

.logo_section {
    display: flex;
    /* background-color: aqua; */
    align-items: center;
}

.logo_section>img {
    width: 60px;
    height: 30px;
    margin-right: 10px;
}

.nav_bar,
.nav_bar>ul {
    display: flex;
    align-items: center;
    gap: 40px;
    /* background-color: aqua; */

}

.nav_bar>ul>li {
    list-style: none;
}

.nav_bar>ul>li>a {
    text-decoration: none;
    color: #3C354F;
    /* font-size: 18px; */
}


.follow_us {

    background-color: aqua;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);


}

/* ----------------------------------Banner Section------------------------------------- */

.banner {
    display: flex;
    /* justify-content: space-between; */
    max-width: 1920px;
    min-height: 400px;
    /* border: 1px solid black; */
    padding: 0 220px 0 0;
    margin-bottom: 100px;

}



.banner_right>img {
    width: 70%;
    height: 100%;
    position: relative;
    left: 250px;

}



.banner_left {

    padding: 150px 80px 150px 220px;
    /* margin-left: 220px; */
    background-image: url(images/Group\ 14.png);
    background-size: contain;
    /* background-position-y: 100%; */
    /* background-repeat: no-repeat; */
}

.banner_left>h2 {
    text-transform: uppercase;
    font-size: 33px;
}

.banner_left>h1 {
    /* text-transform: uppercase; */
    font-size: 70px;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.banner_left>ul {
    /* background-color: aqua; */
    margin: 25px 0;
    font-size: 14px;
}

.banner_left>ul>li {
    list-style: none;
    margin: 7px 0;
}

.banner_left i {
    margin-right: 8px;
}



button {
    padding: 10px 25px;
    border-radius: 48px;
    background-color: #FF42A5;
    border: 0;
    color: white;
    margin-right: 15px;
}

/* ----------------------------------About_section--------------------------------------- */

.about_section {
    max-width: 1920px;
    min-height: 400px;
    /* border: 2px solid black; */
    padding: 20px 220px;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 100px;
}

.about_section_left {
    /* background-color: #58f167; */
}


.about_section_left>img {
    width: 120%;
    height: 90%;

}

.about_section_right {
    /* background-color: #8758F1; */
    padding: 20px 0 20px 150px;
    text-align: right;
}

.about_section_right>h2 {
    font-size: 30px;
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.about_section_right>button {
    margin-right: 0;
    margin: 10px 0 20px 0;
}

.about_section_right>p {
    font-size: 14px;

    padding-left: 10px;
    margin: 20px 0;
}




/* ____________________________________Online game section__________________________________ */




.online_games_heading {
    text-align: center;
    margin-bottom: 30px;
}

.online_games_heading>h2 {
    font-size: 30px;
}

.online_games_heading>h2>span {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;

}

.online_games_heading>p {
    margin: 20px 0px;
}

.online_games_sec {
    display: flex;
    max-width: 1920px;
    min-height: 400px;
    /* border: 3px solid black; */
    justify-content: space-evenly;
    padding: 0 220px;
}

.online_games_sec>section>img {
    height: 300px;
    width: 242px;
    /* background-color: #8758F1; */
}

.online_games_sec>section {
    /* background-color: #8758F1; */
    width: 242px;
}

.online_games_sec>section>p {
    color: #534C64;
    font-size: 15px;
    margin-top: 10px;
}




/* _________________________Description section____________________________ */






.description_sec {
    max-width: 1920px;
    min-height: 1200px;
    /* border: 1px solid black; */
    margin: 50px 0;
    padding: 0 240px;
}






.upper_sec {
    display: flex;
    justify-content: space-between;
    /* background-color: #F948B2; */
}

.upper_right {
    /* background-color: #8758F1; */
    display: flex;
    justify-content: right;
    position: relative;
    /* relative for rectangle-sixty six */
}

.rectangle_fiftyfive {
    width: 400px;
    height: 435px;
}

.rectangle_sixtysix {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 300px;
    top: 330px;

}

.upper_left,
.bottom_right {
    margin: auto 200px;
    /* background-color: #96065c; */

}

.upper_left>p {
    margin: 30px 0;
    text-align: right;
}

.upper_left>h2 {
    text-align: right;
    font-size: 30px;
}



.bottom_sec {
    display: flex;
    /* background-color: aqua; */
    margin-top: 200px;

}

.rectangle_sixtyseven {
    width: 400px;
    height: 435px;
}

.bottom_left {
    position: relative;
    /* relative for rectangle-seventy */
}

.rectangle_seventy {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 300px;
    top: 330px;

}

.bottom_right>p {
    margin: 30px 0;
    text-align: left;
}

.bottom_right>h2 {
    font-size: 30px;
    text-align: left;
}






/* __________________________________Career Section_____________________________________ */
.career_section {
    max-width: 1920px;
    min-height: 500px;
    /* border: 1px solid black; */
    background-color: #F948B2;
    display: flex;
    /* justify-content: space-between; */
    padding: 0 220px;
}

.career_left {
    /* background-color: #8758F1; */
    /* margin-right: 400px; */
    padding: 50px 0px 50px 0;
    width: 95%;
}

.career_left>p {
    margin: 30px 0;
    color: white;

}

.career_left>h2 {
    color: white;
    font-size: 35px;
}

.career_describe>p {
    margin: 30px 0;
    color: white;
}

.career_right>img {
    /* background-color: #f18858; */
    width: 100%;
    height: 100%;
}

.career_describe {
    display: flex;
    justify-content: space-between;
    /* background: #0B0223; */
    padding: 0 200px 0 0;
}





/* ____________________________Genre Section_________________________ */
.genre_section {
    max-width: 1920px;
    min-height: 300px;

    /* border: 1px solid black; */
    padding: 50px 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.genre_section>section {
    display: flex;
    /* background-color: #F948B2; */
    align-items: center;
    margin: 0 16px;
}

.genre_section>section:hover {
    border: 2px solid #FF42A5;
    padding: 2px;
    border-radius: 50px;
    cursor: pointer;
}

.genre_section>section>img {
    height: 40px;
    width: 40px;
    margin-right: 11px;
}

/* _______________________________________Footer Section__________________________________________ */

.footer_container {
    max-width: 1920px;
    min-height: 400px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;

    /* border: 1px solid black */
    background: #0B0223;
    color: white;

}

.footer_container>.logo_section {
    margin: 80px 0 50px 0;
}

.important_links>ul {
    margin-bottom: 30px;
    /* background-color: #F948B2; */
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    font-size: 13px;
    font-weight: 700;
}

.footer_container li {
    list-style: none;
}

.social_sites>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 30px;
}

.social_sites i {
    font-size: 25px;
}

.social_sites>ul>li>i:hover {
    font-size: 35px;

    cursor: pointer;
}


.web_links>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    font-size: 11px;
}

.footer_container p {
    font-size: 11px;

}



.footer_container a {
    text-decoration: none;
    color: white;
}


/* ______________________________Hover_effect___________________________ */

.img_container {
    position: relative;
    display: inline-block;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s linear;
    border-radius: 8px;
}

.overlay_content {
    position: absolute;
    top: 50%;
    left: 50%;


    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;

    text-align: center;
}

.img_container:hover .overlay {
    opacity: 1;
}