* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}



/* _________________________________________________________Designed for tablet 980px of width_________________________________________________________ */


@media screen and (min-width:576px) and (max-width:992px) {
    .nav_container {
        padding: 0 100px;
    }

    .banner {
        padding: 0px;
    }

    .banner_left {
        padding: 150px 80px 150px 100px;
    }

    .banner_right {
        padding: 0;
    }

    .banner_right>img {
        width: 100%;
        height: 90%;
        left: 10px;
    }

    .banner_left>ul {
        width: 180%;
    }


    /* ____________________________________About section____________________________________ */
    .about_section {
        padding: 0px 85px;
    }

    .about_section_left>img {
        width: 150%;
        height: 90%;
    }

    /* ______________________________________Online Game__________________________________ */



    .online_games_sec {
        flex-direction: column;
        justify-content: center;
    }

    .online_games_sec>section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* background-color: blue; */
    }



    /* _________________________________Description section____________________________ */

    .description_sec {
        padding: 0;
    }



    .upper_sec {
        align-items: center;
        /* flex-wrap: wrap; */
        /* background-color: bisque; */
    }

    .upper_right {
        margin-right: 40px;
    }

    .rectangle_sixtysix {
        top: 220px;
        right: 220px;
    }

    .upper_left,
    .bottom_right {
        margin: auto 150px;

    }


    .rectangle_fiftyfive,
    .rectangle_sixtyseven {
        width: 315px;
        height: 344px;
    }




    .bottom_sec {
        align-items: center;
        /* flex-wrap: wrap; */
        /* background-color: bisque; */
    }

    .bottom_left {
        margin-left: 40px;
    }

    .rectangle_seventy {

        left: 220px;
        top: 220px;
    }



    /* _____________________________________Career section________________________________ */

    .career_section {
        padding: 0 55px;
    }

    .career_describe {
        padding: 0;
    }

    /* _____________________________________Genre__________________________________________ */
    .genre_section {
        padding: 50px 100px;
    }


}