* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


@media screen and (min-width:576px) and (max-width:992px) {
    .nav_container {
        padding: 0 100px;
    }

    .banner {
        padding: 0 100px;
    }

    .banner_right {
        padding: 0;
    }

    .banner_right>img {
        width: 100%;
        height: 90%;
        left: 10px;
    }

    .banner_left>ul {
        width: 180%;
    }





    .online_games_sec {
        flex-direction: column;
        justify-content: center;
    }

    .online_games_sec>section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* background-color: blue; */
    }





}